* {
  max-width: 100vw;
  font-family: "Nunito", sans-serif;
  --webkit-font-smoothing: antialiased;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #1d1e26;
  }

  &::-webkit-scrollbar-thumb {
    background: #6272a4;
  }
}
